<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <header>
        <h1>My Layout Header</h1>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>My Footer</p>
    </footer>
</body>
</html>
